
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background: linear-gradient(135deg, #0d0d0d, #1b1b1b, #232323);
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clockHolder {
    background: rgba(255, 255, 255, 0.05);
    padding: 40px 60px;
    border-radius: 20px;
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.8), 
                0 0 60px rgba(0, 170, 255, 0.5);
}
#clock {
    font-size: 80px;
    color: #00eaff;
    font-weight: 600;
    letter-spacing: 3px;
    text-shadow: 0 0 15px #00eaff,
                 0 0 30px rgba(0, 234, 255, 0.7),
                 0 0 60px rgba(0, 234, 255, 1);
}


