* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffe4d6;
    width: 100vh;
    height: 100vh;
    /* display: grid;
    place-items: center; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.universe {
    width: 100%;
    aspect-ratio: 1;
    background-color: #70d4ff;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: skychange 10s ease-in-out infinite;

}

.sun {
    width: 18vh;
    aspect-ratio: 1;
    background-color: rgb(255, 200, 80);
    border-radius: 50%;
    overflow: hidden;
    position: relative;

    &::after {
        top: 0;
        left: 0;
        content: "";
        position: absolute;
        width: inherit;
        aspect-ratio: 1;
        background-color: #000;
        border-radius: inherit;
        animation: moonwalk 10s ease-in-out infinite;
    }
}

@keyframes moonwalk {
    0% {
        translate: 100%;
        scale: 1;
    }

    50% {
        translate: 0%;
        scale: 0.9;
    }

    100% {
        translate: -100%;
        scale: 0.9;
    }

}

@keyframes skychange {
    0% {
        background-color: #70d4ff;

    }

    25% {
        background-color: #70d4ff;

    }

    50% {
        background-color: #000000;

    }

    75% {
        background-color: #70d4ff;

    }

    100% {
        background-color: #70d4ff;
    }

}