
*{
    margin: 0;
    padding:0;
    font-family: sans-serif;
}
html{
    color:#ffff;
    font-size: 62.5%;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-top:100px;
    background-color: #1b1b1b;
}
li{
    cursor: pointer;
    list-style-type: circle;
    margin: 2rem 0;
    text-transform: capitalize;
    font-weight: 500;
    &:hover{
        color:orange;
    }
}

.main-todo-div{
    width: 36rem;
    display: grid;
    grid-template-columns: 1fr 0.3fr;
    align-items: center;
    height: auto;
}
button{
    height:5rem;
}
h1{
    font-size:3.6rem;
    margin-top:4.8rem;
}
hr{
    margin-bottom: 3.2rem;
}


p,li,button{
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
    font-family: sans-serif;
    line-height: 1.6;
}
button{
    background-color: yellowgreen;
    padding: 0.6rem 2.4rem;
    border-radius: 10rem;
    margin-right:5px ;
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    -ms-border-radius: 10rem;
    -o-border-radius: 10rem;
}
input{
    padding: 6px 2px;
    min-width:32rem;
    font-size:18px;
    border-radius:0.6rem;
    border: none;
    margin-right: 1.2rem;
}
li:hover + .deleteBtn{
    box-shadow: inset 0 0 0 0.2rem #f5ee62;
    color: #f5ee62;
}